.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    font-size: 25px;
    color: cornflowerblue;

    &:hover{
      color: chocolate;
    }
  }

  div{
    p{
      font-weight: bold;
    }
  }
}

.string-red {
  color:red;
}

.string-blue {
  color:blue;
}
